@import "reset";
// @import "partial/variables";
@import "partial/themes";
//=====================================
//---------- COMMONS MAIN -------------
//=====================================
// COLOR VARIABLES
// $color-primary: #c69963;
// $color-primary-dark: #b28451;

// $color-secondary: #101d2c;

// $color-grey-light-1: #f9f7f6;
// $color-grey-light-2: #aaa;

// $color-grey-dark-1: #54483a;
// $color-grey-dark-2: #beaf9e;
// $color-grey-dark-3: #333;

//#e67e22;
//#c55f06;
:root {
  --color-primary: #4c40d1;
  --color-primary-light: #706ab1;
  --color-primary-dark: #352c92;

  --color-secondary: #ff4500;
  --color-secondary-light: #ffa27f;
  --color-secondary-dark: #661b00;

  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;

  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;

  --color-green: #2ab600;
  --color-red-light: #ff7474;
  --color-red-dark: #ff1919;

  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);

  --line: 1px solid var(--color-grey-light-2);

  //For themes
  --text-color: #222;
  --body-background-color: #fff;
  --theme-color: #170a48;
  --secondary-color: #f27731;
  --ternary-color: #ccf962;
  --link-color: $secondary-color;
  --menu-item-color: white;
  --items-background-color-hover: rgb(255, 209, 172);
  --button-background-color: rgb(255, 209, 172);
}

// FONT VARIABLES
$font-primary: "Nunito", sans-serif;
$font-display: "Josefin Sans", sans-serif;

// RESPONSIVE BREAKPOINTS

$bp-largest: 75em; //1200px/16
$bp-large: 62.5em; //1000px
$bp-medium: 50em; //800px
$bp-small: 37.5em; //600px

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; //10px/16px = 62.5% => 1rem = 10px
  overflow-x: hidden;
  overflow-y: scroll;

  @media only screen and (max-width: $bp-largest) {
    font-size: 50%; // 1rem = 8px
  }
}

body {
  font-family: $font-primary;
  //   color: var(--color-grey-light-1);
  // color: $theme-color;
  color: var(--text-color);
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  justify-content: center;

  // background-image: linear-gradient(
  //   to right bottom,
  //   var(--color-grey-dark-1),
  //   var(--color-grey-dark-2)
  // );
  background-color: var(--body-background-color);
  background-size: cover;
  background-repeat: no-repeat;

  min-height: 100vh;
}

body.light {
  --text-color: #222;
  --body-background-color: #fff;
  --background-color-second: #d3d3d3;
  --theme-color: #170a48;
  --secondary-color: #f27731;
  --ternary-color: #ccf962;
  --link-color: $secondary-color;
  --menu-item-color: white;
  --items-background-color-hover: rgb(255, 209, 172);
  --button-background-color: rgb(255, 209, 172);
}
body.dark {
  --text-color: #fff;
  --body-background-color: #22222a;
  --background-color-second: #d3d3d3;
  --theme-color: #42424a;
  --secondary-color: #c24721;
  --ternary-color: #698932;
  --link-color: $secondary-color;
  --menu-item-color: white;
  --items-background-color-hover: rgb(138, 62, 0);
  --button-background-color: rgb(138, 62, 0);
}
body.orient {
  --text-color: #000;
  --body-background-color: rgb(0, 217, 255);
  --background-color-second: #d3d3d3;
  --theme-color: #372a27;
  --secondary-color: #d26741;
  --ternary-color: #b9da63;
  --link-color: $secondary-color;
  --menu-item-color: white;
  --items-background-color-hover: rgb(255, 209, 172);
  --button-background-color: rgb(255, 209, 172);
}

a {
  // color: var(--color-grey-light-1);
  color: var(--text-color);
}

header {
  background-color: var(--background-color-second);
}

nav > ul {
  display: flex;
  justify-content: space-around;

  li {
    list-style: none;

    a {
      text-decoration: none;
    }
  }
}
